.hero-parent {
  height: 95vh;
  position: relative;
  background: #1e1b3a;
}

.hero-text {
  padding-top: 70px;
}
/* Absolute positioned images */

.astronaut {
  position: absolute;
  width: 40%;
  right: 18%;
  top: 6%;
  z-index: 10;
}

.boxpng {
  position: absolute;
  width: 9%;
  left: 60px;
  top: 10%;
}

.ellipsepng {
  position: absolute;
  bottom: 17%;
  width: 15%;
}

.planetbg {
  position: absolute;
  right: 0;
  top: -80px;
  width: 50%;
}

.donutpng {
  position: absolute;
  right: 10%;
  bottom: 3%;
  width: 7%;
}

.planetpng {
  position: absolute;
  right: 15%;
  bottom: 50%;
  width: 10%;
  z-index: 99;
}

.vectorpng {
  position: absolute;
  right: 22%;
  top: 29%;
  width: 35%;
}

.cometpng {
  position: absolute;
  right: 26%;
  top: 0%;
  width: 6%;
}

/* Absolute positioned images */

.hero-container {
  width: 70%;
  margin: auto;
  display: flex;
  align-items: center;
}

/* .welcome-text {
  display: flex;
  align-items: center;
  background: #0505053d;
  border-radius: 6px;
  width: 23%;
  padding: 10px 10px;
  justify-content: center;
  margin-bottom: 25px;
} */

.welcome-text p {
  font-size: 18px;
  font-family: "Inter", sans-serif;
  background: linear-gradient(95.79deg, #2317fa -33.63%, #d529e4 97.49%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-shadow: 6px 16px 31px rgba(59, 88, 239, 0.15);
}

.welcome-header {
  width: 70%;
  margin-bottom: 25px;
}

.welcome-header h1 {
  width: 70%;
  font-size: 65px;
  margin-bottom: 15px;
  color: #fff;
  font-family: "Russo One", sans-serif;
  line-height: 85px;
}

.welcome-header p {
  width: 50%;
  color: #dadada;
  font-size: 18px;
  line-height: 33px;
  margin-bottom: 60px;
}

.welcome-btn button {
  background: linear-gradient(95.48deg, #2317fa -1.25%, #d529e4 97.48%);
  box-shadow: 6px 16px 31px 8px rgba(59, 88, 239, 0.15);
  border-radius: 0px;
  border: none;
  color: #fff;
  padding: 25px 50px;
  font-family: "Inter", sans-serif;
}

.welcome-btn button:hover {
  cursor: pointer;
}

/* Responsive CSS */

@media screen and (max-width: 600px) {
  .hero-parent {
    min-height: 65vh;
  }
  .welcome-text {
    width: 90%;
  }

  .hero-text {
    padding-top: 0px;
  }

  .welcome-text img {
    width: 50px;
  }

  .welcome-header {
    width: 100%;
  }

  .welcome-header h1 {
    font-size: 46px;
    line-height: 60px;
  }

  .welcome-header p {
    width: 100%;
    margin-bottom: 44px;
    font-size: 17px;
  }

  .welcome-btn button {
    padding: 25px 45px;
  }

  .astronaut {
    width: 45%;
    right: 5%;
    top: 11.5%;
  }

  .boxpng {
    width: 12%;
    left: 10px;
    top: 15%;
  }

  .planetbg {
    position: absolute;
    right: 0;
    top: 15px;
    width: 60%;
  }

  .donutpng {
    bottom: 26%;
    width: 13%;
  }

  .planetpng {
    right: 3%;
    bottom: 73%;
    width: 12%;
  }

  .vectorpng {
    position: absolute;
    right: 22%;
    top: 29%;
    width: 35%;
  }

  .cometpng {
    width: 13%;
    top: 3%;
    right: 30%;
  }
}

@media screen and (min-width: 600px) {
  .welcome-text {
    width: 50%;
  }

  .hero-text {
    padding-top: 0px;
  }

  .welcome-text img {
    width: 40px;
  }

  .welcome-header {
    width: 70%;
  }

  .welcome-header h1 {
    font-size: 46px;
    line-height: 60px;
  }

  .welcome-header p {
    width: 80%;
    margin-bottom: 44px;
    font-size: 17px;
  }

  .welcome-btn button {
    padding: 25px 45px;
  }

  .astronaut {
    width: 50%;
    right: 3%;
    top: 9%;
  }

  .boxpng {
    width: 12%;
    left: 10px;
    top: 15%;
  }

  .planetbg {
    position: absolute;
    right: 0;
    top: 15px;
    width: 60%;
  }

  .donutpng {
    bottom: 8%;
    width: 13%;
  }

  .planetpng {
    right: 2%;
    bottom: 61%;
    width: 12%;
  }

  .vectorpng {
    position: absolute;
    right: 22%;
    top: 29%;
    width: 35%;
  }

  .cometpng {
    width: 13%;
    top: 0;
    right: 30%;
  }
}

@media only screen and (min-width: 768px) {
  .welcome-text {
    width: 45%;
  }

  .welcome-header h1 {
    font-size: 55px;
    line-height: 70px;
  }

  .astronaut {
    width: 45%;
    right: 5%;
    top: 11.5%;
  }

  .planetpng {
    right: 2%;
    bottom: 60%;
    width: 12%;
  }

  .cometpng {
    width: 11%;
    top: 0;
    right: 30%;
  }

  .donutpng {
    bottom: 8%;
    width: 11%;
  }
}

@media only screen and (min-width: 992px) {
  .boxpng {
    width: 10%;
    left: 20px;
    top: 15%;
  }

  .astronaut {
    width: 40%;
    right: 5%;
    top: 11.5%;
  }

  .planetpng {
    right: 2%;
    bottom: 56%;
    width: 10%;
  }

  .cometpng {
    width: 8%;
    top: 0;
    right: 30%;
  }

  .donutpng {
    bottom: 8%;
    width: 8%;
  }

  .planetbg {
    position: absolute;
    right: 0;
    top: -40px;
    width: 60%;
  }

  .welcome-text {
    width: 35%;
  }
}

@media only screen and (min-width: 1200px) {
  .welcome-text {
    display: flex;
    align-items: center;
    background: #0505053d;
    border-radius: 6px;
    width: 25.5%;
    padding: 10px 10px;
    justify-content: center;
    margin-bottom: 25px;
  }

  .welcome-header p {
    width: 60%;
    color: #dadada;
    font-size: 18px;
    line-height: 33px;
    margin-bottom: 60px;
  }

  .welcome-header h1 {
    width: 70%;
    font-size: 75px;
    margin-bottom: 15px;
    color: #fff;
    font-family: "Russo One", sans-serif;
    line-height: 85px;
  }

  .astronaut {
    position: absolute;
    width: 35%;
    right: 18%;
    top: 6%;
    z-index: 10;
  }

  .boxpng {
    position: absolute;
    width: 8%;
    left: 60px;
    top: 10%;
  }

  .planetbg {
    position: absolute;
    right: 0;
    top: -70px;
    width: 45%;
  }

  .donutpng {
    position: absolute;
    right: 10%;
    bottom: 3%;
    width: 7%;
  }

  .planetpng {
    position: absolute;
    right: 17%;
    bottom: 56%;
    width: 9%;
    z-index: 99;
  }

  .cometpng {
    position: absolute;
    right: 25%;
    top: -5%;
    width: 6%;
  }
}
