.discover-parent {
  padding: 30px 0px 90px;
}

.discover-parent h2 {
  text-align: center;
  color: #fff;
  font-size: 40px;
  margin: 70px auto 30px;
  font-family: "Russo One", sans-serif;
}

.card-container .MuiCard-root:nth-child(2) {
  background: linear-gradient(95.48deg, #2317fa -1.25%, #d529e4 97.48%);
  box-shadow: 6px 16px 31px 8px rgba(59, 88, 239, 0.15);
}

.card-parent {
  background-color: #231e44 !important;
  padding: 40px 30px;
}

.card-content {
  margin-top: 10px;
  padding-bottom: 30px;
}

.card-title {
  color: white;
  text-align: center;
  font-family: "Russo One", sans-serif !important;
  margin-top: 10px !important;
  margin-bottom: 20px !important;
}

.card-media {
  width: 35% !important;
  margin: auto !important;
}

/* Responsive */

@media screen and (max-width: 600px) {
  .card-container {
    flex-wrap: wrap;
    justify-content: center !important;
  }

  .card-parent {
    flex: none !important;
  }

  .discover-parent h2 {
    font-size: 30px;
    margin: 20px auto 20px;
  }
}
